// header p {
//   margin: 0px;
//   text-align: justify;
// }

// header p.subtitle {
//   text-align: justify;
// }

// header th,
// td {
//   padding: 5px 10px 20px;
// }

// header h2,
// h3 {
//   margin: 20px 0 20px;
// }

// header h1 {
//   font-size: 26px;
//   line-height: 0.2;
// }

// header ul {
//   padding: 0;
//   padding-left: 2em;
//   width: 270px;
// }

// header ul a:active {
//   background-color: #f0f0f0;
// }

:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 1000ms;
}

body {
  padding-top: 3em;
}


/* Navbar */

.navbar {
  top: 0;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100vw;
  height: 3em;

  position: fixed;
  background-color: var(--bg-primary);
  border: none;
  z-index: 2;

  box-shadow: 0 0.5rem 1rem #000;
}

.navbar-nav {
  list-style: none;
  flex-direction: row;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  height: 100%;

  position: relative;
  top: 1.5rem;
  margin-right: auto;
}

.logo-text {
  color: var(--text-primary);
  font-size: 3rem;
  letter-spacing: 0.1ch;
  margin-top: -3.0rem;
  margin-left: 1.5rem;
  line-height: 3rem;
}

.logo svg {
  transform: rotate(180deg);
  transition: transform var(--transition-speed);
  position: relative;
  top: -0.5em;
}

.logo:hover svg {
  transform: rotate(-180deg);
}

.nav-item {
  height: 100%;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  /* transition: var(--transition-speed); */
}

.nav-link:hover {
  filter: grayscale(0%);
  color: var(--text-secondary);
}

@media only screen and (max-width: 1299px) {
  .logo-text {
    display: none;
  }
}


@media only screen and (max-width: 999px) and(min-width: 600px) {
  .navbar {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 899px) {
  .nav-link {
    font-size: 4vmin;
  }

  .nav-link,
  .nav-button {
    margin-left: 2vmin;
    margin-right: 2vmin;
  }
}

@media only screen and (min-width: 900px) {
  .navbar {
    top: 0;
  }

  .nav-link {
    font-size: 1.8rem;
  }

  .nav-link,
  .nav-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }


  .navbar:hover .link-text {
    transition: opacity var(--transition-speed);
  }
}

.author__bio {
  text-align: justify;
}